  /**
   * ${description}
   */
  private async ${methodName}(params: any, authContext?: IMCPAuthContext): Promise<any> {
    const stripe = this.getStripeClient(authContext);
    
    try {
${operationCode}
    } catch (error) {
      throw this.transformStripeError(error);
    }
  }